
{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<img style="width: 60%; height: auto; margin: auto; margin-top: 5%; display:block" src="{% static 'images/350-w-headline.png' %}" />
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail.{% endblocktrans %}</p>
<p>{% blocktrans %} You can login  <a href="{{ login_url }}">here</a>.{% endblocktrans %}</p>

{% blocktrans %}If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes at <a href="mailto:date@ourdate.co">date@ourdate.co</a>.{% endblocktrans %}</p>
{% endblock %}
